/**
 * Dashboard Styles
 * Refactored from inline styles in dashboard.html
 */

/* ===================================
   UTILITY CLASSES
   ================================== */


/* ===================================
   STATUS INDICATORS
   ================================== */


/* ===================================
   FORM CONTROLS
   ================================== */


/* ===================================
   LED CANVAS
   ================================== */


/* ===================================
   MODALS
   ================================== */


/* ===================================
   ANIMATIONS
   ================================== */
